$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$font-sizes: ("h1": 45px, "h2": 19px, "p": 16px);

div {
    font-weight: map-get($font-weights, "bold");
}


section {
	h2 {
		font-size : map-get($font-sizes, "h2"); // 19px
	}
}