@charset "utf-8";

/* 유틸리티 */
.ir{
    display: block;
    overflow: hidden;
    position:absolute;
    text-indent: -9999px;
    line-height:0;
    font-size: 1px;
    color:transparent;
}
.img-item{
    display: block;
}

/* 레이아웃 */
body{
    background-color: #EAE8FE;
}

#app{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* 교차축에서의 위치. flex-start는 교차축이 시작하는 위치를 뜻함. 기본값은 stretch */
    gap:0 28px; /* 레이아웃에서의 아이템 사이 공간 값. 상하, 좌우. IE 사용 불가 */
    padding-top:248px;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .vending-machine, #app .my-info{
    width:360px;
    background:#fff;
    box-sizing: border-box;
}

#app .tit-app{
    position:absolute;
    top:0;
    width: 100%;
    max-width: 386px;
    height:180px;
    background: no-repeat center / 100% 100% url(../images/Logo_img.png);
}

/* 자판기 스타일 */
#app .vending-machine{
    position: relative;
    padding:31px 27px 28px; 
}

/* 자판기 아이템 리스트 */
.vending-machine .list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.vending-machine .list-item li{
    position:relative;
    width:30%;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* 세번째 값은 블러 처리만 */
}
.vending-machine .list-item li.on:before{
    display: block;
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    border: 3px solid #6327FE;
    border-radius: 10px;
    box-sizing: border-box;
}
.vending-machine .list-item li.sold-out::before{
    display: block;
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    border-radius: 10px;
    background:no-repeat center/60px 46px url(../images/Sold-out.png) rgba(0, 0, 0, 0.8);
}
.vending-machine .list-item li.sold-out{
    pointer-events: none;
}

.vending-machine .list-item li:nth-child(3)~li{ /* 세번째 자식요소의 다음 모든 형제 요소들 */
    margin-top:12px;
}
.vending-machine .btn-item{
    display: block;
    width:100%;
    height:100%;
}
.vending-machine .list-item .img-item{
    width:36px;
    height:65px;
    margin:0 auto;
}
.vending-machine .tit-item{
    display: block;
    font-size:9px;
    margin:7px 0;
}
.vending-machine .txt-price{
    font-size:12px;
    padding:2px 12px;
    background-color:#6327FE;
    border-radius: 50px;
    color:#fff;
}

/* 잔액 & 반환, 입금, 획득 스타일 */
.vending-machine .cont-return, .vending-machine .cont-put, .vending-machine .cont-get{
    display: flex;
    justify-content: space-between;
    margin-top:12px;
}
.cont-return .info-balance, .cont-put .inp-put, .cont-get .list-item-staged{
    width:65%;
    padding:6px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.cont-return .btn-return, .cont-put .btn-put, .cont-get .btn-get{
    width: 30%;
    font-size:13px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* 세번째 값은 블러 처리만 */
}
.vending-machine .cont-return{
    margin-top:20px;
}
.cont-return .info-balance{
    overflow:hidden;
    font-size:14px;
    line-height: 20px;
    background-color: #EAE8FE;
}
.info-balance .txt-balance{
    float:right;
}
.cont-put .inp-put{
    border: 1px solid #BDBDBD;
    line-height: 19px;
}
.cont-get .btn-staged {
    width: 100%;
}
.cont-get .btn-get{
    font-weight: 700;
    background-color: #6327FE;
    color:#fff;
}
.cont-get .list-item-staged{
    height:106px;
    overflow-y: scroll;
    border: 1px solid #BDBDBD;
    background-color: #EAE8FE;
}
.list-item-staged li{
    overflow: hidden;
    padding:8px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}
.list-item-staged li+li{
    margin-top:6px;
}
.list-item-staged .img-item, .list-item-staged .txt-item{
    float:left;
}
.list-item-staged .img-item{
    width:18px;
    height:33px;
}
.list-item-staged .txt-item{
    margin-left:10px;
    line-height: 33px;
    font-size:9px;
}
.list-item-staged .num-counter{
    display: flex;
    float:right;
    width:30px;
    height:30px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

/* 나의 정보 */
#app .my-info{
    background-color: #EAE8FE;
}
/* 소지금 */
.my-info .cont-mymoney{
    padding:9px 27px;
    background-color: #fff;
}
.cont-mymoney .info-mymoney{
    padding:6px 10px;
    font-size: 14px;
    line-height: 20px;
    background-color: #EAE8FE;
    border-radius: 5px;
}

.info-mymoney .txt-mymoney{
    float:right;
    font-weight: 700;
}

/* 획득한 음료 */
.my-info .cont-myitems{
    margin-top:20px;
    padding:25px 27px 32px;
    background: #fff;
}

.cont-myitems .tit-myitem{
    display: block;
    text-align: center;
    margin-bottom:13px;
    font-size: 14px;
    font-weight: 700;
}
.cont-myitems .list-item-staged{
    overflow-y: scroll;
    height:364px;
    padding:12px 12px 0;
    background-color: #EAE8FE;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}

.cont-myitems .txt-total{
    display: block;
    text-align: right;
    font-size: 12px;
    margin-top:10px;
}

@media only screen /* only : 전체 쿼리가 일치할 때만 적용, screen: 코드가 적용될 미디어 유형 */
  and (min-device-width: 320px) /*기기의 넓이가 320 이상*/
  and (max-device-width: 480px) /*기기의 넓이가 420 이하*/
  and (-webkit-min-device-pixel-ratio: 2) { /* 최소 1px 당 2개의 화소 */
    body{
        background-color: #fff;
    }
    #app{
        padding-top:65px;
    }
    #app .tit-app{
        width:166px;
        height: 70px;
    }
    .my-info .cont-myitems{
        margin-top:0;
        padding: 31px 27px 32px;
    }
}