@charset "utf-8";

/* util */
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 두 줄 말줄임 */
.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 3px;
}

/* 스킵네비게이션 */
.nav-skip a {
    position: absolute;
    top: -200px;
    left: 0;
    width: 300px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    text-align: center;
}

.nav-skip a:active, .nav-skip a:focus {
    top: 0;
}

/* style */
.cont-movie {
    width: 1006px;
    margin: 86px auto 0;
    padding: 0 27px 29px;
    border: 2px solid #BDBDBD;
    border-radius: 15px;
    background: #E5E5E5;
}

.cont-movie .tit-cont {
    font-size: 25px;
    text-align: center;
    line-height: 28px;
    padding: 38px 0;
}

.cont-movie .nav-movie {
    text-align: center;
}

.cont-movie .nav-movie::before {
    display: block;
    content: "";
    width: 650px;
    height: 2px;
    background: #BDBDBD;
    margin: 0 auto;
}

.cont-movie .list-movieNav {
    display: inline-block;
    margin: 27px 0;
}

.cont-movie .list-movieNav li {
    float: left;
}

.cont-movie .list-movieNav li + li {
    margin-left: 60px;
}

.cont-movie .list-movieNav .link-nav {
    color: #828282;
}

.cont-movie .list-movieNav .on .link-nav{
    color: #000;
    font-weight: bold;
}

/* 콘텐츠 스타일 */
.cont-movie .list-movieInfo {
    overflow: hidden;
    padding: 0 12px 24px 12px;
    border: 2px solid #BDBDBD;
    border-radius: 15px;
    background: #fff;
}

.cont-movie .list-movieInfo .tit-movie {
    font-weight: bold;
    line-height: 23px;
}

.cont-movie .list-movieInfo li {
    overflow: hidden;
    float: left;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 24px 12px 0;
}

.cont-movie .list-movieInfo li > a[class^="link"] {
    display: inline-block;
    width: 50%;
    text-align: center;
    height: 41px;
    line-height: 41px;
    background: #F2F2F2;
    border-top: 1px solid #BDBDBD;
}

.cont-movie .list-movieInfo li .link-reserv::after {
    /* display: inline-block; */
    float: right;
    content: "";
    width: 1px;
    height: 100%;
    background: #BDBDBD;
}

.cont-movie .list-movieInfo li .link-teaser::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: url('../images/btn_play.png');
    vertical-align: top;
    margin: 11px 2px 0 0;
}

.cont-movie .list-movieInfo .link-movie {
    display: block;
    margin-bottom: 11px;
}

.list-movieInfo .list-info {
    margin-top: 12px;
}

.list-movieInfo article {
    width: 180px;
    padding: 19px 19px 0 19px;
}

.list-movieInfo .list-info dt, .list-movieInfo .list-info dd {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    line-height: 1.2;
}

.list-movieInfo .list-info dt {
    font-weight: lighter;
    color: #828282;
}

.list-movieInfo .list-info .multi-ellipsis {
    width: 140px;
    height: 28px;
    float: right;
    display: -webkit-box;
    margin-left: 5px;
}

.list-movieInfo .list-info .item-star {
    float:right
}

.list-movieInfo .list-info .item-star dt::after {
    display: inline-block;
    content: "";
    width: 14px;
    height: 13px;
    margin-left: 5px;
    background: url("../images/star.png");
    vertical-align: top;
}

.list-movieInfo .list-info div {
    display: inline-block;
    margin-bottom: 5px;
}

/* 푸터 스타일 */
.cont-company {
    background: #F2F2F2;
    margin-top: 135px;
}

.cont-company .cont-coInfo {
    position: relative;
    overflow: hidden;
    width: 1189px;
    margin: 0 auto;
}

.cont-coInfo .tit-company {
    display: block;
    font-size: 22px;
    height: 118px;
    line-height: 118px;
    border-bottom: 2px solid #C4C4C4;
    font-weight: 700;
}

.cont-coInfo .list-coInfo {
    float: left;
    margin: 38px 0;
}

.cont-coInfo .list-coInfo dt, .cont-coInfo .list-coInfo dd {
    display: inline-block;
    float: left;
}

.cont-company .list-coInfo dt {
    font-weight: 700;
    margin-right: 5px;
}

.cont-company .list-coInfo dd {
    font-weight: 400;
}

.cont-company .list-coInfo dd::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 12px;
    margin: 0 12px;
    background: #000;
}

.cont-company .list-coInfo dd:last-child::after {
    display: none;
}

.cont-company .list-sns {
    position: absolute;
    top: 50px;
    right: 0;
}

.cont-company .list-sns li {
    float: left;
    margin-left: 22px;
}

.cont-company .list-sns a[class^="link"]{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 1px;
    text-indent: -9999px;
    overflow: hidden;
}

.cont-company .list-sns .link-twitter {
    background: url("../images/instagram.png");
}

.cont-company .list-sns .link-insta {
    background: url("../images/facebook.png");
}

.cont-company .list-sns .link-facebook {
    background: url("../images/twitter.png");
}

.cont-company .txt-copy {
    float: right;
    font-size: 14px;
    margin-top: 38px;
}